
@{
    ViewBag.Title = "Department";
}

<main>

    <form class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Department</h1>
        @Html.Action("PartialDepartmentGridView")
    </form>
</main>
