
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Jobs Title</h1>
        @Html.Partial("_PartialJobsGridView")
    </section>
</main>
